
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .bgcolor {
            background-color: #000000;
            color: white;
            border-collapse: collapse;
        }

        img {
            position:relative;
            left:30%;
            vertical-align: middle;
        }

        table {
            border-collapse: collapse;
            table-layout:fixed;
            width:100%;
        }
    </style>
</head>

<body>
    <table>
        <tr class="bgcolor">
            <td colspan="10" style="padding-left:50px">About IT Resource</td>
        </tr>
        <tr class="bgcolor">
            <td>
                <a href="https://www.google.co.in"><img src="~/Speaker.jpg" width="50px" /></a>
            </td>
            <td>
                IT Home
            </td>
            <td>
                <a href="https://www.google.co.in"><img src="~/Speaker.jpg" width="50px" /></a>
            </td>
            <td style="width: 90px">
                About IT Global Service DesK
            </td>
            <td>
                <a href="https://www.google.co.in"><img src="~/Speaker.jpg" width="50px" /></a>
            </td>
            <td style="width: 90px">ARDx IT Global Service Desk</td>
            <td>
                <a href="https://www.google.co.in"><img src="~/Speaker.jpg" width="50px" /></a>
            </td>
            <td style="width: 100px">Global Service Desk Webchat</td>
            <td>
                <a href="https://www.google.co.in"><img src="~/Speaker.jpg" width="50px" /></a>
            </td >
            <td style="width: 90px">Ask IT a Question</td>
        </tr>
        <tr style="background-color: aqua;color: white;">
            <td>
                <a href="https://www.google.co.in"><img src="~/Speaker.jpg" width="50px" /></a>
            </td>
            <td colspan="9">Stay Connected</td>
        </tr>
    </table>
</body>
</html>
